.Blog {
  display: flex;

  .overview {
    flex-shrink: 0;
    width: 12em;
    padding: 0.5em;

    h1 {
      margin: 0.5em 0;
      font-size: 1em;
    }

    a {
      margin: 0.5em 0;
      line-height: 1.25;
    }
  }

  .article {
    padding: 0.5em;
  }
}
